html, body {
    background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Comfortaa', cursive;
	color: white;
	scroll-behavior: scroll;
}
label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: white;
  color: black;
  font-size: 120%;
  border: none;
}

.Message{
  color: white;
  content: white;
}

.center {
border: 5px solid #FFFF00;
text-align: center;
}

#Main{
  background: darkgray
  
}

#Title{
  font-size: 300%;
}